*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background: url(../image/Header-bg.jpg) no-repeat 50% 50%;
    background-position: center;
    background-size: cover;

}
.content{
    width: 90%;
    margin: auto;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
    margin-top: 50px;
}
.logo{
    position: fixed;
    float: left;
    padding: 15px 15px;
}
.logo img{
    max-width: 75%;
    height: auto;
    
}

nav{
    width: 100%;
    position: fixed;
}
nav ul{
    list-style-type: none;
    background-color:rgba(0, 0, 0, 0);
    overflow: hidden;
    text-align: right;
    transition: 1s;
    margin: 0;
}
nav.black ul{
    background-color: #ffffff;
    color: #000;
}
nav.black ul a{
    color: #000;
}
nav.black{
    border-bottom: 1px solid;
}
nav ul li{
    display: inline-block;
    padding: 20px;
} 
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
}
.menu-icon{
    width: 100%;
    background-color: #000000;
    text-align: right;
    padding: 15px 24px;
    box-sizing: border-box;
    cursor: pointer;
    color: #ffffff;
    display: none;
}

@media(max-width: 580px){
    .logo{
        position: fixed;
        top: 0;
        margin-top: 12px;
    }
    nav ul{
        max-height: 0px;
        background: #000;
    }
    nav.black ul{
        background: #ffffff;
        color: #000;
    }
    .showing{
        max-height: 25em;
    }
    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }
    .menu-icon{
        display: block;
    }
}